.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: var(--Font-Family-Base);
  border-radius: var(--Button-Primary-Border-Radius);
}
.button--primary {
  background-color: var(--Button-Primary-Default);
  border: 1px solid var(--Button-Primary-Default);
  color: var(--White);
}
.button--secondary {
  background-color: var(--Button-Secondary-Default);
  border: 1px solid var(--Button-Secondary-Default);
  color: var(--White);
}
.button--small {
  padding: 10px 16px;
  font-size: 12px;
}
.button--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.button--large {
  padding: 12px 24px;
  font-size: 16px;
}
